<%= form_for(@physician) do |f| %>
    <% if @physician.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

          <ul>
            <% @physician.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :country_id %><br>
      <%= collection_select :physician, :country_id, Country.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :state_id %><br>
      <%= collection_select :physician, :state_id, State.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :specialty_id %><br>
      <%= collection_select :physician, :specialty_id, Specialty.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :medical_school_id %><br>
      <%= collection_select :physician, :medical_school_id, MedicalSchool.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :gender_id %><br>
      <%= collection_select :physician, :gender_id, Gender.all, :id, :sex%>
    </div>
    <div class="field">
      <%= f.label :residency_hospital_id %><br>
      <%= collection_select :physician, :residency_hospital_id, Hospital.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :affiliation_hospital_id %><br>
      <%= collection_select :physician, :affiliation_hospital_id, Hospital.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :credential_id %><br>
      <%= collection_select :physician, :credential_id, Credential.all, :id, :name%>
    </div>
    <div class="field">
      <%= f.label :group_practice_id %><br>
      <%= collection_select :physician, :group_practice_id, GroupPractice.all, :id, :name%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
