<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @physician.street %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @physician.suite %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @physician.zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @physician.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @physician.country %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @physician.specialty %>
</p>

<p>
  <strong>Medical school:</strong>
  <%= @physician.medical_school %>
</p>

<p>
  <strong>Npi:</strong>
  <%= @physician.NPI %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @physician.gender %>
</p>

<p>
  <strong>Birth day:</strong>
  <%= @physician.birth_day %>
</p>

<p>
  <strong>Birth month:</strong>
  <%= @physician.birth_month %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @physician.birth_year %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>

<p>
  <strong>Residency hospital:</strong>
  <%= @physician.residency_hospital %>
</p>

<p>
  <strong>Affiliation hospital:</strong>
  <%= @physician.affiliation_hospital %>
</p>

<p>
  <strong>Credential:</strong>
  <%= @physician.credential %>
</p>

<p>
  <strong>Medical school grad year:</strong>
  <%= @physician.medical_school_grad_year %>
</p>

<p>
  <strong>Residency grad year:</strong>
  <%= @physician.residency_grad_year %>
</p>

<p>
  <strong>License number:</strong>
  <%= @physician.license_number %>
</p>

<p>
  <strong>License state:</strong>
  <%= @physician.license_state %>
</p>

<p>
  <strong>Group prectice:</strong>
  <%= @physician.group_prectice %>
</p>

<p>
  <strong>Medicare:</strong>
  <%= @physician.medicare %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
